body {
    font-family: roboto, sans-serif;
    font-size: 15px;
    color: #707070;
    padding: 0;
    margin: 0
}
.section-title h3,h2,h4 {
    font-size: 30px;
    margin-bottom: 30px;
    color: #000;
}
.pd-15 {padding: 0px 15px;}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto
}
.container {max-width: 1140px}
.row {display:flex;}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%
}
.section-separator {
    padding: 60px 0;
}
/*HOME SECTION*/
.img-color-overlay {
    background-color: rgba(249, 252, 255, .92)
}
.home-2-img {
    background-image: url(images/home-bg-img.jpg);
        background-position: center center;
}
.home .header-info h2 {
    font-size: 60px;
    margin: 20px 0;
}
.home .hero-img img {
    border: 20px solid rgb(232, 236, 240);
}
/* ABOUT ME SECTION*/
.about .about-inner {
    padding-left: 50px;
}
.btn.btn-fill{
    background-color:#03a9f4;
    color:#fff;
    padding: 12px 30px;
    text-decoration: none;
}
/*Eudcation SECTION*/
.service-item {
    padding: 20px;
    margin-bottom: 20px;
    border:1px solid #ddd;
    background-color: #fff;
}
.experience, .footer {
    background-color: #f8fbfe;
}